*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Work Sans', sans-serif;
}

/* headers start */

.headers{
    padding: 216px 230px 650px;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size:cover;
}

.content{
    position: absolute;
    width: 500px;
    height: 65px;
    left: 845px;
    top:216px;
    text-align: right;
}
.head-title{
    font-size: 65px;
    font-weight: 700;
    color:#fff;
    margin-bottom: 24px;
}
.head-description{
    font-weight: 400px;
    font-size: 16px;
    color:#fff;
    margin-bottom: 32px;
    line-height: 26px;
}
.btn-primary{
    width: 160px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    background-color:#fff ;
    color:#005FAC;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
/* main starts */
/* previous-year */
.previous-year{
    padding: 130px 230px;
}
.previous-year-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 87px;
}
.section-title{
    font-size: 48px;
    font-weight: bold;
    width:350px;
    color:#151414;
    margin-bottom: 24px;
}
.section-description{
    color: #444343;
    font-weight: 400px;
    margin-bottom: 16px;
    line-height: 26px;
    width: 416px;
}
.section-list{
    list-style: none;
}
.section-list li{
    margin-top: 8px;
    font-weight: 400;
    color:#444343;
}
/* for font awesome icon */
.fai{
    color:#16D887;
}
/* plans-section */
.plans-section{
    padding: 130px 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plans-section .section-title{
    text-align: center;
    margin-bottom: 50px;
}
.plans{
    display: flex;
    flex-direction: row;
    gap:30px;
}
.plan-item{
    width: 270px;
    text-align: center;
}
.plan-title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    color:#151414;
    margin-bottom: 16px;
}
.plan-description{
    color:#737272;
    font-weight: 500;
    font-size: 25px;
}

/* cta-section or call to action section */

.cta-section{
    /* padding: 130px 230px; */
    display: flex;
    justify-content: center;
    align-items:center;
    padding-bottom: 130px;
}

.cta{
    width: 1140px;
    height: 300px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.cta-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #fff;
    width:459px;
    margin-bottom: 24px;
}
.cta-content{
    padding-top: 59px;
    margin-left: 64px;
    margin-bottom: 130px;
}
/* footer  */
.footer{
    background-color: #151414;
    padding: 130px 230px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.future{
    width: 485px;
}
.footer-title{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}
.footer-description{
    color: #fff;
    margin-bottom: 24px;
    font-weight: 400;
}

.email, .phone{
    color: #fff;
    font-weight: 400;
    margin-bottom: 16px;
}
.socials{
    display: flex;
    gap:10px;
}
.icons{
    cursor: pointer;
}

/* footer - subscribe */
.subscribe{
    width: 325px;
}
.sub-title{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 31px;
}
.subscribe input{
    background-color: #151414;
    width: 325px;
    height: 64px;
    color:#fff;
    border-radius:8px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    padding: 20px;
    font-weight: 400px;
}

/* footer btn-secondary */
.btn-secondary{
    color:#fff;
    background: #005FAC;
    width: 170px;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    font-weight:600;
    cursor: pointer;
}